---
---

p {
  // font-family: monospace;
  color: limegreen;
  font-size: 1.2em;
  // &::selection {
  //   color: white;
  //   background-color: #f06;
  // }
}

#p-cool {
  page-break-before: always;
  color: #f06;
}
